# Configuration file

~CONFIG_VERSION: 0.1.0

##########################################################################################################
# advanced
#--------------------------------------------------------------------------------------------------------#
# Advanced config options to change the way JEI functions.
##########################################################################################################

advanced {
    S:itemBlacklist <
        bigreactors:ingotsteel
        tcomplement:storage:1
        bigreactors:blocksteel
        bigreactors:mineralanglesite
        bigreactors:oreanglesite
        bigreactors:orebenitoite
        bigreactors:mineralbenitoite
        tcomplement:materials:10
     >
}


