# Configuration file

"weather2: wind" {
    B:Misc_windOn=true
    B:Wind_HighWindEvents=true
    B:Wind_LowWindEvents=true
    D:globalWindChangeAmountRate=1.0
    I:highWindOddsTo1=30
    I:highWindTimerEnableAmountBase=600
    I:highWindTimerEnableAmountRnd=1200
    I:lowWindOddsTo1=200
    I:lowWindTimerEnableAmountBase=24
    I:lowWindTimerEnableAmountRnd=12
    D:windSpeedMax=1.0
    D:windSpeedMin=1.0E-5

    # Min wind speed to maintain if its raining with global overcast mode on, overrides low wind events and windSpeedMin
    D:windSpeedMinGlobalOvercastRaining=1.0
}


